<html>
    <head>
        <title>2018 Central Park Squirrel Census Data</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>2018 Central Park Squirrel Census Data</h1>
        <h2>A list of all squirrel sightings (click on ID to edit)</h2>
        <a href=" 'tracker:add' %}">Create a new sighting</a >
        <br>
        <br>
        <a href="{% url 'tracker:stats' %}">See sightings statistics</a >
        <br>
        <br>
        <a href="{% url 'tracker:map' %}">View top 100 sightings on the map</a >
        {% if squirrels %}
                <ol>
                    {% for squirrel in squirrels %}
                        <li>
                                <a href='/sightings/{{squirrel.Unique_Squirrel_ID}}/'>{{ squirrel }}</a >
                        </li>
                    {% endfor %}
                </ol>
        {% else %}
                <p>No sightings</p >
        {% endif %}
    </body>
</html>
