<!DOCTYPE html>
<html>
    <head>
        <title>Update a sighting</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        body {
          font-family: Arial, Helvetica, sans-serif;
          margin: 0;
        }
        /* Style the header */
        .header {
          padding: 80px;
          text-align: center;
          background: #1abc9c;
          color: white;
        }
        /* Increase the font size of the h1 element */
        .header h1 {
          font-size: 40px;
        }
        </style>
    </head>
    <body>
        <div class="header">
	<h1> Update this sighting</h1>
	</div>
        <form  method="POST">
                {% csrf_token %}
                {{ form.as_p }}
        <input type="submit" name='Submit'>
        </form>
        <br>
	<a href="{% url 'tracker:all' %}">Back to the main page</a >
    </body>
</html>
